
@media (max-width: 1024px) {

    .promo__content h2 {
        font-size: 60px;
    }

    .portfolio__photo {
    justify-content: center;
    gap: 20px;
        
    }

    .portfolio__photo_item img{
        width: 200px;

    }
}

@media (max-width: 769px) {

    .nav_toggle {
        display: inline-block
    }

    .nav ul {
        display: none;
    }

    #nav_toggle:checked ~ ul {
        display: flex;
        flex-direction: column;
    }

    .nav ul {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.4;

    }

    .nav li {
        margin-left: 20px;
        gap: 5%;
    }
        

    .title3 {
        font-size: 30px;
        padding-top: 50px;
    }

    .promo .nav {
        
        margin-bottom: 100px;
    }

    .promo .btn__primary {
        margin-bottom: 80px;
    }

    .promo__content h2 {
        font-size: 45px;
    }

    .promo__content h3 {
        
        font-size: 30px;
       
    }

    .services .container {
        padding-bottom: 60px;
    }

    .services .services__tools {
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        
    }
    .portfolio {
        
        padding-bottom: 60px;
    }
    
    .portfolio__photo_item:nth-child(-n+3) {
        margin-bottom: 0;
    }

    .team__about {
        
        gap: 20px;
        margin-bottom: 30px;
    }

    .team__about .avatar {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
       
    }

    .our__friends_content div {
       
        
    }

    .our__friends_content {
        flex-direction: column;
        flex-wrap: wrap;
        height: 150px;
        gap: 20px;
        padding-bottom: 30px;
    }


    .footer__content{
       justify-content: space-between;
    }

    .btn__primary {
        width: 120px;
        height: 35px;
        font-size: 10px;
        
    }

    .about .about__item:not(:last-child) {
        padding-bottom: 50px;
    }

    .about .about__item img {
        width: 90px;
        height: 90px;
        border: 3px solid #f1f1f1;
        position: relative;
        left: 47px;
        bottom: 20px;
       
    }

    .about .about__item_reverse img {
        left: -47px;
    }
       

}

@media (max-width: 426px) {

    body {
        font-size: 12px;
    }

    .container {
        width: 90%;
       
    }

    p {
        font-size: 10px;
        padding-top: 10px;
    }
    
    .title3 {
        font-size: 20px;
        padding-top: 40px;
    }
    
    .par3 {
        font-size: 10px;
        margin-bottom: 40px;
    }
     
    .promo .btn__primary {
        margin-bottom: 40px;
    }

    .promo__content h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .promo__content h3 {
        
        font-size: 20px;
       
    }

    .promo .btn__primary {
        margin-bottom: 40px;
    }
    
    .services .container {
        padding-bottom: 40px;
    }

    .services__item .services__ico {
        content: '';
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #fed443;
        cursor: pointer;
        
    }

    .services__item .icon {
        width:20px;
        position: relative;
        bottom: -14px;
    }

    .about .about__item_reverse {
        border-left: none;
    }
        
    .about .about__item {
        
        width: 100%;
        border-right: none;
        text-align: center;
    
    }

    
    .about__item_btn {
    
        width: 90px;
        height: 90px;
        color:#ffff;
        border-radius: 50%;
        background-color:  #fed443;
        border: 3px solid #f1f1f1;
    
    }

    .about__item_btn a {
        font-size: 12px;
        line-height: 10px;
        text-align: center;
        font-weight: 400;
        
    }
    .services .services__item h3 {
        margin-top: 15px;
        font-size: 12px;
    }

    .about .about__item {
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
        border-bottom: 3px solid gray;
    }

 
    .about__item_end {
        margin-bottom: 0px;
    }

   
    .about .about__item img {
       left: 5px;
       bottom: 5px;
    }

    .about .about__item_reverse img {
        left: -5px;
        bottom: 5px;
    }

    .about .about__item_reverse {
        margin-left: 0;
        text-align: center;
    }

    .team__about {
        flex-direction: column;
        gap:20px;
        margin-bottom: 30px;
    }

    .our__friends_content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 35px;
    }
        
    .team .team__content, .team__under {
        
        padding-bottom: 20px;
    }
    
        
}

@media (max-width: 408px) {
    .our__friends_content {
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        
    }
}


